<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Specify Network</title>
    <link rel="icon" href="/api/v1/badge/?provider=specify&icon_status=active">
    <meta name="robots" content="index,follow">
    <meta
      name="description"
      content="${description}"
    >
    <meta name="author" content="KU Biodiversity Institute">
  </head>
  <body class="loading">
    <div id="loader" style="opacity: 0;">
      <div>
        <span></span>
        <div class="logo-container">
          <div class="logo">
             <img
               src="/static/img/specify_network_square.svg"
               alt="Specify Network"
             >
          </div>
        </div>
        <h1>${tagline}</h1>
      </div>
    </div>
    <main>${body}</main>
    <script src="${bundle}"></script>
  </body>
</html>