<div class="leaflet-map-container">
  <pre style="display:none">${map_info}</pre>
  <div class="map-details"></div>
  <h2>Occurrences of this species</h2>
  <p>
    The map shows all occurrences of this species in iDigBio. These are shown
    as green circles on the map. Of these, the occurrences that belong to the
    current collection are colored in red.
  </p>
  <p>
    Additionally, there is a GBIF map of all occurrences of this species.
    Individual occurrences and cluster of occurrences are represented as
    hexagons of different shading of green, with darker hexagons
    corresponding to larger clusters.
  </p>
  <div class="leaflet-map"></div>

  <span role="none" class="gbif-collection-map" style="display: none">
    <h2>All collection occurrences over time:</h2>
    <p>
      Showing occurrences collected between these years:<br>
      <span class="slider">
        <input type="number" class="min" aria-label="Start year">
        <span class="slider-inputs" aria-hidden="true">
          <input type="range" class="max">
          <input type="range" class="min">
        </span>
        <input type="number" class="max" aria-label="End year">
      </span>
    </p>
    <div class="leaflet-collection-map"></div>
  </span>
</div>
