<pre style="display:none">${map_info}</pre>
<div class="map-details"></div>
<p>
  The map shows all occurrences of this species in iDigBio. These are shown
  as green circles on the map. Of these, the occurrences that belong to the
  current collection are colored in red.
</p>
<p>
  Additionally, there is a GBIF map of all occurrences of this species.
  Individual occurrences and cluster of occurrences are represented as
  squares of different shading of purple, with darker hexagons
  corresponding to brighter clusters.
</p>
<div class="leaflet-map"></div>