<pre style="display:none">${map_info}</pre>
<p>
   This map shows all occurrences of this taxon from iDigBio and GBIF.
</p>
<div class="map-details"></div>
<p>
  iDigBio points are represented as green dots on the map. Of those,
  the occurrences published to iDigBio from the current collection are red.
</p>
<p>
  For GBIF data, individual points and clusters of points are shown as
  hexagons of different shading ranging from yellow to orange to red
  with the dark red hexagons corresponding to densest distributions of
  points.
</p>
<div class="leaflet-map"></div>