openapi: 3.0.0
info:
  title: Specify Network services
  description: API services for returning biological metadata from available data providers
  version: 0.0.1 pre-release buggy alpha beta
  termsOfService: 'https://lifemapper.ku.edu/?page_id=1096'
  contact:
    name: Aimee Stewart
    email: aimee.stewart@ku.edu
    url: 'http://www.lifemapper.org/'
  license:
    name: GPL-3.0 License
    url: 'https://www.gnu.org/licenses/gpl-3.0.en.html'
servers:
  - url: 'http://data.lifemapper.org/api/v1'
    description: Lifemapper server
tags:
  - name: name
    description: Get taxonomic information for a scientific name
  - name: occ
    description: Get specimen occurrences
  - name: dataset
    description: Get specimen occurrences from a dataset
  - name: resolve
    description: Get unique identifier metadata for a digital specimen object in Specify
  - name: map
    description: Get URL for map of species points and predicted distributions from Lifemapper
externalDocs:
  description: Lifemapper
  url: 'http://www.lifemapper.org/'
paths:
  '/name/{namestr}':
    get:
      tags:
        - name
      summary: 'Get taxonomic information for a scientific name'
      description: Get taxonomic information for a scientific name from available providers
      operationId: name
      parameters:
        - $ref: '#/components/parameters/namestr'
        - $ref: '#/components/parameters/provider'
        - $ref: '#/components/parameters/is_accepted'
        - $ref: '#/components/parameters/gbif_parse'
        - $ref: '#/components/parameters/gbif_count'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/name'
              examples:
                Denitrobacterium etoxificans:
                  $ref: >-
                    '#/components/examples/names_Denitrobacterium_detoxificans'
                Plagioecia patina:
                  $ref: '#/components/examples/names_Plagioecia_patina'
                Tulipa ylvestris:
                  $ref: '#/components/examples/names_Tulipa_sylvestris'
                  
  '/occ/{occurrenceid}':
    get:
      tags:
        - occ
      summary: 'Get specimen occurrence information'
      description: Get specimen occurrence information from available services
      operationId: occ
      parameters:
        - $ref: '#/components/parameters/occurrenceid'
        - $ref: '#/components/parameters/provider'
        - $ref: '#/components/parameters/gbif_dataset_key'
        - $ref: '#/components/parameters/count_only'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/occ'
                  - $ref: '#/components/schemas/occ_with_records'
              examples:
                KU Bird occurrence:
                  $ref: '#/components/examples/occ'
                KU Bird Occurence (count only):
                  $ref: '#/components/examples/occ_count_only'
  '/map/':
    get:
      tags:
        - map
      summary: 'MAP : Get a projection map for a species'
      description: Get URL for map of species points and predicted distributions
      operationId: map
      parameters:
        - $ref: '#/components/parameters/namestr'
        - $ref: '#/components/parameters/provider'
        - $ref: '#/components/parameters/gbif_parse'
        - $ref: '#/components/parameters/is_accepted'
        - $ref: '#/components/parameters/scenariocode'
        - $ref: '#/components/parameters/color'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/map'
              examples:
                Phlox longifolia Nutt.:
                  $ref: '#/components/examples/map'
components:
  parameters:
    namestr:
      name: namestr
      in: path
      description: Scientific name / Full name of a taxa record to search for
      required: true
      schema:
        type: string
      examples:
        Plagioecia patina:
          value: Plagioecia patina
        Phlox longifolia Nutt.:
          value: Phlox longifolia Nutt.
        Tulipa sylvestris L.:
          value: Tulipa sylvestris L.
        Medinilla speciosa Blume:
          value: Medinilla speciosa Blume
        Acer caesium Wall. ex Brandis:
          value: Acer caesium Wall. ex Brandis
        Acer heldreichii Orph. ex Boiss.:
          value: Acer heldreichii Orph. ex Boiss.
        Acer pseudoplatanus L.:
          value: Acer pseudoplatanus L.
        Acer velutinum Boiss.:
          value: Acer velutinum Boiss.
        Acer hyrcanum Fisch. & Meyer:
          value: Acer hyrcanum Fisch. & Meyer
        Acer monspessulanum L.:
          value: Acer monspessulanum L.
        Acer obtusifolium Sibthorp & Smith:
          value: Acer obtusifolium Sibthorp & Smith
        Acer opalus Miller:
          value: Acer opalus Miller
        Acer sempervirens L.:
          value: Acer sempervirens L.
        Acer floridanum (Chapm.) Pax:
          value: Acer floridanum (Chapm.) Pax
        Acer grandidentatum Torr. & Gray:
          value: Acer grandidentatum Torr. & Gray
        Acer leucoderme Small:
          value: Acer leucoderme Small
        Acer nigrum Michx.f.:
          value: Acer nigrum Michx.f.
        Acer skutchii Rehder:
          value: Acer skutchii Rehder
        Acer saccharum Marshall:
          value: Acer saccharum Marshall
    namestr_query:
      name: namestr
      in: query
      description: Scientific name / Full name of a taxa record to search for
      required: true
      schema:
        type: string
      examples:
        Plagioecia patina:
          value: Plagioecia patina
        Phlox longifolia Nutt.:
          value: Phlox longifolia Nutt.
        Tulipa sylvestris L.:
          value: Tulipa sylvestris L.
        Medinilla speciosa Blume:
          value: Medinilla speciosa Blume
        Acer caesium Wall. ex Brandis:
          value: Acer caesium Wall. ex Brandis
        Acer heldreichii Orph. ex Boiss.:
          value: Acer heldreichii Orph. ex Boiss.
        Acer pseudoplatanus L.:
          value: Acer pseudoplatanus L.
        Acer velutinum Boiss.:
          value: Acer velutinum Boiss.
        Acer hyrcanum Fisch. & Meyer:
          value: Acer hyrcanum Fisch. & Meyer
        Acer monspessulanum L.:
          value: Acer monspessulanum L.
        Acer obtusifolium Sibthorp & Smith:
          value: Acer obtusifolium Sibthorp & Smith
        Acer opalus Miller:
          value: Acer opalus Miller
        Acer sempervirens L.:
          value: Acer sempervirens L.
        Acer floridanum (Chapm.) Pax:
          value: Acer floridanum (Chapm.) Pax
        Acer grandidentatum Torr. & Gray:
          value: Acer grandidentatum Torr. & Gray
        Acer leucoderme Small:
          value: Acer leucoderme Small
        Acer nigrum Michx.f.:
          value: Acer nigrum Michx.f.
        Acer skutchii Rehder:
          value: Acer skutchii Rehder
        Acer saccharum Marshall:
          value: Acer saccharum Marshall
    provider:
      name: provider
      in: query
      description: Code indicating one or more providers to query
      required: false
      enum:
        - 'gbif'
        - 'idb'
        - 'ipni'
        - 'itis'
        - 'lm'
        - 'mopho'
        - 'specify'
        - 'worms'
    gbif_parse:
      name: gbif_parse
      in: query
      description: >-
        Flag indicating whether to parse the scientific name into a canonical name
        information)
      required: false
      schema:
        type: boolean
        default: true
    gbif_count:
      name: gbif_count
      in: query
      description: >-
        Flag indicating whether to include in the response `occurrence_count` for a count of
        specimen occurrences in GBIF and and `occurrence_url` for a query to
        retrieve those specimen occurrences
      required: false
      schema:
        type: boolean
        default: true
    gbif_accepted:
      name: gbif_accepted
      in: query
      description: Flag indicating whether to limit the response to `ACCEPTED` or `VALID` names
      required: false
      schema:
        type: boolean
        default: true
    gbif_dataset_key:
      name: gbif_dataset_key
      in: path
      description: Dataset GUID from GBIF
      required: true
      schema:
        $ref: '#/components/schemas/guid'
      examples:
        Fish dataset 1:
          value: 56caf05f-1364-4f24-85f6-0c82520c2792
        Fish dataset 2:
          value: 8f79c802-a58c-447f-99aa-1d6a0790825a
        Birds dataset:
          value: e635240a-3cb1-4d26-ab87-57d8c7afdfdb
    occurrenceid:
      name: occurrenceid
      in: path
      description: Occurence ID
      required: true
      schema:
        $ref: '#/components/schemas/guid'
      examples:
        Fish occurrence 1:
          value: 2c1becd5-e641-4e83-b3f5-76a55206539a
        Fish occurrence 2:
          value: a413b456-0bff-47da-ab26-f074d9be5219
        Fish occurrence 3:
          value: dc92869c-1ed3-11e3-bfac-90b11c41863e
        Fish occurrence 4:
          value: 21ac6644-5c55-44fd-b258-67eb66ea231d
        Bird occurrence 1:
          value: ed8cfa5a-7b47-11e4-8ef3-782bcb9cd5b5
        Bird occurrence 2:
          value: f5725a56-7b47-11e4-8ef3-782bcb9cd5b5
        Bird occurrence 3:
          value: f69696a8-7b47-11e4-8ef3-782bcb9cd5b5
        Bird occurrence 4:
          value: 5e7ec91c-4d20-42c4-ad98-8854800e82f7
    count_only:
      name: count_only
      in: query
      description: Flag indicating whether to limit the response to a count of results
      required: false
      schema:
        type: boolean
        default: false
    count_only_default:
      name: count_only
      in: query
      description: Flag indicating whether whether to limit the response to a count of results
      required: false
      schema:
        type: boolean
        default: true
  schemas:
    wrapper:
      type: object
      properties:
        count:
          $ref: '#/components/schemas/count'
        service:
          type: string
        provider:
          $ref: '#/components/schemas/provider'
        provider_query:
          type: object
          items:
            type: string
        record_format:
          type: string
        errors:
          type: array
          items:
            type: string
          description: Array of error messages
    count:
      type: integer
      description: >-
        Number of records that matched the query. For specimen occurrence IDs,
        there are usually 0 or 1 matches
      minimum: 0
      example: 1
    view_url:
       type: string
       description: URL to provider web page for this data
    api_url:
       type: string
       description: URL for provider api query for this data
    provider:
      type: object
      properties:
        code:
          type: string
          enum:
            - 'gbif'
            - 'idb'
            - 'ipni'
            - 'itis'
            - 'lm'
            - 'mopho'
            - 'specify'
            - 'worms'
          description: parameter string used for requesting this provider
        label:
          type: string
          enum:
            - 'GBIF'
            - 'iDigBio'
            - 'IPNI'
            - 'ITIS'
            - 'Lifemapper'
            - 'MorphoSource'
            - 'Specify'
            - 'WoRMS'
          description: Name of the provider
        icon_url:
          type: string
          description: URL for retrieving the provider icon
        status_code:
          type: integer
          description: HTTP status code for the request
        query_url:
          type: array
          items:
            type:string
          description: Array of URLs used to assemble the response      
    names_all:
      allOf:
        - $ref: '#/components/schemas/wrapper'
        - type: object
          properties:
            service:
              type: string
              enum:
                - 'name'
            provider:
              $ref: '#/components/schemas/provider'
            records:
              type: array
              items:
                $ref: '#/components/schemas/names_one'
              description: "Each item contains data from a different taxonomic provider"
    names_one:
      allOf:
        - $ref: '#/components/schemas/wrapper'
        - type: object
          properties:
            service:
              type: string
              enum:
                - 'name'
            provider:
              type: string
              enum:
                - 'GBIF'
                - 'ITIS'
                - 'WoRMS'
            records:
              type: array
              items:
                oneOf:
                  - $ref: '#/components/schemas/names_record'
                  - $ref: '#/components/schemas/names_record_with_count'
    names_record:
      type: object
      properties:
        's2n:view_url':
          $ref: '#/components/schemas/view_url'
        's2n:api_url':
          $ref: '#/components/schemas/api_url'
        's2n:status': 
          type: string
          description: taxonomic status of this name
          example: 'valid'
        's2n:scientific_name': 
          type: string
          example: 'Plagioecia patina (Lamarck, 1816)'
        's2n:canonical_name': 
          type: string
          example: 'Plagioecia patina'
        's2n:common_names': 
          type: string
          example: 'red maple'
        's2n:kingdom': 
          type: string
          description: taxonomic kingdom containing this name
          example: 'Animalia'
        's2n:rank': 
          type: string
          description: taxonomic rank of this name
          example: 'genus'
        's2n:synonyms':
          type: array
          items:
            type:string
          description: Array of synonyms of this name
        's2n:hierarchy':
          $ref: '#/components/schemas/hierarchy'
        's2n:gbif_occurrence_count':
          type: integer
          description: Number of occurrences reported by GBIF for this name
        's2n:gbif_occurrence_url':
          type: string
          description: API URL to query for specimen occurrences in GBIF for this name
        's2n:gbif_confidence':
          type: number
          description: Confidence score assigned by GBIF
          minimum: 0
          maximum: 100
          example: 98
        's2n:gbif_taxon_key':
          type: integer
          description: GBIF identifier key for this taxon
        's2n:itis_tsn':
          type: integer
          description: ITIS identifier key for this taxon
        's2n:itis_credibility':
          type: string
          description: Category assigned by ITIS indicating taxon credibility
          example: 'TWG standards met'
        's2n:worms_valid_AphiaID':
          type: integer
          description: WoRMS identifier key for this taxon
        's2n:worms_lsid':
          type: string
          description: WoRMS resolvable unique identifier key for this taxon
        's2n:worms_isMarine':
          type: integer
          description: WoRMS flag indicating if the taxon is a marine organism
          minimum: 0
          maximum: 1
        's2n:worms_isBrackish':
          type: integer
          description: WoRMS flag indicating if the organism lives in brackish water
          minimum: 0
          maximum: 1
        's2n:worms_isFreshwater':
          type: integer
          description: WoRMS flag indicating if the organism lives in fresh water
          minimum: 0
          maximum: 1
        's2n:worms_isTerrestrial':
          type: integer
          description: WoRMS flag indicating if the taxon is a terrestrial organism
          minimum: 0
          maximum: 1
        's2n:worms_isExtinct':
          type: integer
          description: WoRMS flag indicating if the taxon is an extinct organism
          minimum: 0
          maximum: 1
        's2n:worms_match_type':
          type: string
          description: WoRMS code indicating how the taxon requested matched the response
          example: 'exact'

    names_record_with_count:
      allOf:
        - type: object
          properties:
            occurrence_count:
              type: integer
              example: 926
            occurrences_url:
              type: string
              example: 'https://www.gbif.org/species/1004151'
        - $ref: '#/components/schemas/names_record'
        
    hierarchy:
      type: object
      properties:
        kingdom:
          type: string
          example: 'Animalia'
        phylum:
          type: string
          example: 'Bryozoa'
        class:
          type: string
          example: 'Stenolaemata'
        order:
          type: string
          example: 'Cyclostomatida'
        family:
          type: string
          example: 'Plagioeciidae'
        genus:
          type: string
          example: 'Plagioecia'
        species:
          type: string
          example: 'Plagioecia patina'
          
    occ_all:
      allOf:
        - $ref: '#/components/schemas/wrapper'
        - type: object
          properties:
            service:
              type: string
              enum:
                - 'occ'
            provider:
              $ref: '#/components/schemas/provider'
            records:
              type: array
              items:
                $ref: '#/components/schemas/occ_one'
              description: "Each item contains data from a different specimen occurrence provider"
    occ_one:
      allOf:
        - $ref: '#/components/schemas/wrapper'
        - type: object
          properties:
            service:
              type: string
              enum:
                - 'occ'
            provider:
              $ref: '#/components/schemas/provider'
            records:
              type: array
              items:
                $ref: '#/components/schemas/occ_record'
    occ_record:
      type: object
      properties:
        's2n:view_url':
          $ref: '#/components/schemas/view_url'
        's2n:api_url':
          $ref: '#/components/schemas/api_url'
        'dwc:scientificName':
          type: string
          description: Scientific name for this object
          example: 'Eryngium ebracteatum Lam.'
        'dwc:taxonRank':
          type: string
          description: Taxonomic rank for the taxon identified for this object
          example: 'SPECIES'
        'dwc:kingdom': 
          type: string
          example: Animalia
        'dwc:phylum':
          type: string
          example: Chordata
        'dwc:class':
          type: string
          example: Aves          
        'dwc:order':
          type: string
          example: Passeriformes
        'dwc:family':
          type: string
          example: Pachycephalidae
        'dwc:genus':
          type: string
          example: Pachycephala
        'dwc:species':
          type: string
          example: Pachycephala pectoralis
        'dwc:specificEpithet': 
          type: string 
          example: pectoralis
        'dwc:scientificNameAuthorship': 
          type: string
          example: 'Pachycephala pectoralis (Latham, 1802)'
        'dwc:catalogNumber':
          type: string
          example: '21469'
        'dwc:collectionCode':
          type: string
          example: 'FLOR'
        'dwc:institutionCode':
          type: string
          example: 'Universidade Federal de Santa Catarina'
        'dwc:otherCatalogNumbers':
          type: array
          items: string

        'dwc:datasetName':
          type: string
          example: 'FLOR - Herbário do Departamento de Botânica da Universidade Federal de Santa Catarina'
        'dwc:year':
          type: string
          example: '1999'
        'dwc:month':
          type: string
          example: '11'
        'dwc:day':
          type: string
          example: '5'
        'dwc:recordedBy': 
          type: string
          example: 'Bentley, Andrew C; Preston, Mike; Addison, Mark'
        'dwc:fieldNumber': 
          type: string
          example: 'ACB 02-02'
        'dwc:locality': 
          type: string
          example: 'Aliwal Shoal - Tiger ledge'
        'dwc:county':
          type: string
          example: 'Scottburgh'
          
        'dwc:stateProvince': 
          type: string
          example: 'KwaZulu-Natal'
        'dwc:country':
          type: string
          example: 
        'dwc:countryCode':
          type: string
          example: 'Scottburgh'
        'dwc:decimalLongitude':
          type: string
          example: 'Scottburgh'
        'dwc:decimalLatitude':
          type: string
          example: 'Scottburgh'
        'dwc:geodeticDatum':
          type: string
          example: 'WGS84'
        'dwc:basisOfRecord':
          type: string
          example: 'Scottburgh'
        'dwc:preparations':
          type: string
          example: 'Scottburgh'
        'dwc:associatedReferences':
          type: array
          items: string
        'dwc:associatedSequences':
          type: array
          items: string
        's2n:issues':
          $ref: '#/components/schemas/issue_code'
          type: object
          additionalProperties:
            type: string
        'dcterms:accessRights':
          type: string
          example: 'http://biodiversity.ku.edu/research/university-kansas-biodiversity-institute-data-publication-and-use-norms'
        'dcterms:language':
          type: string
          example: 'en'
        'dcterms:license':
          type: string
          example: 'http://creativecommons.org/licenses/by/4.0/legalcode'
        'dcterms:modified':
          type: string
          example: '2002-05-24T09:35:15.000+00:00'
        'dcterms:type':
          type: string
          example: 'PhysicalObject'
        'gbif:gbifID':
          type: string
          example: '656981504'
        'gbif:publishingOrgKey':
          $ref: '#/components/schemas/guid'
        'gbif:datasetKey':
          $ref: '#/components/schemas/guid'
        'gbif:acceptedScientificName':
          type: string
          example: 'en'
        'idigbio:uuid':
          type: string
          example: 'en'
        'mopho:specimen.specimen_id':
          type: string
          example: 25481
        's2n:specify_identifier':
          $ref: '#/components/schemas/guid'

    map_all:
      allOf:
        - $ref: '#/components/schemas/wrapper'
        - type: object
          properties:
            service:
              type: string
              enum:
                - 'map'
            provider:
              $ref: '#/components/schemas/provider'
            records:
              type: array
              items:
                $ref: '#/components/schemas/map_one'
              description: "Each item contains data from a different map provider"
    map_one:
      allOf:
        - $ref: '#/components/schemas/wrapper'
        - type: object
          properties:
            service:
              type: string
              enum:
                - 'map'
            provider:
              $ref: '#/components/schemas/provider'
            records:
              type: array
              items:
                $ref: '#/components/schemas/map_record'
    map_record:
      type: object
      properties:
        endpoint:
          type: string
          #format: uri
          example: http://client.lifemapper.org/api/v2/ogc/data_300456
        point_link:
          type: string
          #format: uri
          example: http://client.lifemapper.org/api/v2/occurrence/300456
        point_name:
          type: string
          example: occ_300456
        species_name:
          type: string
          example: Phlox longifolia Nutt.
        modtime:
          type: string
          format: datetime
          example: 2019-12-29 18:53:36
        projection_link:
          type: string
          #format: uri
          example: http://client.lifemapper.org/api/v2/sdmProject/717933
        vendor-specific-parameters:
          type: object
        projection_name:
          type: string
          example: prj_717933
    issue_pairs:
      type: object
      code:
        enum:
          - AMBIGUOUS_COLLECTION
          - AMBIGUOUS_INSTITUTION
          - BASIS_OF_RECORD_INVALID
          - COLLECTION_MATCH_FUZZY
          - COLLECTION_MATCH_NONE
          - CONTINENT_COUNTRY_MISMATCH
          - CONTINENT_DERIVED_FROM_COORDINATES
          - CONTINENT_INVALID
          - COORDINATE_ACCURACY_INVALID
          - COORDINATE_INVALID
          - COORDINATE_OUT_OF_RANGE
          - COORDINATE_PRECISION_INVALID
          - COORDINATE_PRECISION_UNCERTAINTY_MISMATCH
          - COORDINATE_REPROJECTED
          - COORDINATE_REPROJECTION_FAILED
          - COORDINATE_REPROJECTION_SUSPICIOUS
          - COORDINATE_ROUNDED
          - COORDINATE_UNCERTAINTY_METERS_INVALID
          - COUNTRY_COORDINATE_MISMATCH
          - COUNTRY_DERIVED_FROM_COORDINATES
          - COUNTRY_INVALID
          - COUNTRY_MISMATCH
          - DEPTH_MIN_MAX_SWAPPED
          - DEPTH_NON_NUMERIC
          - DEPTH_NOT_METRIC
          - DEPTH_UNLIKELY
          - ELEVATION_MIN_MAX_SWAPPED
          - ELEVATION_NON_NUMERIC
          - ELEVATION_NOT_METRIC
          - ELEVATION_UNLIKELY
          - GEODETIC_DATUM_ASSUMED_WGS84
          - GEODETIC_DATUM_INVALID
          - GEOREFERENCED_DATE_INVALID
          - GEOREFERENCED_DATE_UNLIKELY
          - IDENTIFIED_DATE_INVALID
          - IDENTIFIED_DATE_UNLIKELY
          - INDIVIDUAL_COUNT_CONFLICTS_WITH_OCCURRENCE_STATUS
          - INDIVIDUAL_COUNT_INVALID
          - INSTITUTION_COLLECTION_MISMATCH
          - INSTITUTION_MATCH_FUZZY
          - INSTITUTION_MATCH_NONE
          - INTERPRETATION_ERROR
          - MODIFIED_DATE_INVALID
          - MODIFIED_DATE_UNLIKELY
          - MULTIMEDIA_DATE_INVALID
          - MULTIMEDIA_URI_INVALID
          - OCCURRENCE_STATUS_INFERRED_FROM_BASIS_OF_RECORD
          - OCCURRENCE_STATUS_INFERRED_FROM_INDIVIDUAL_COUNT
          - OCCURRENCE_STATUS_UNPARSABLE
          - POSSIBLY_ON_LOAN
          - PRESUMED_NEGATED_LATITUDE
          - PRESUMED_NEGATED_LONGITUDE
          - PRESUMED_SWAPPED_COORDINATE
          - RECORDED_DATE_INVALID
          - RECORDED_DATE_MISMATCH
          - RECORDED_DATE_UNLIKELY
          - REFERENCES_URI_INVALID
          - TAXON_MATCH_FUZZY
          - TAXON_MATCH_HIGHERRANK
          - TAXON_MATCH_NONE
          - TYPE_STATUS_INVALID
          - ZERO_COORDINATE
#    idigbio_issue:
#      type: string
#      enum:
          - datecollected_bounds
          - dwc_acceptednameusageid_added
          - dwc_basisofrecord_invalid
          - dwc_basisofrecord_paleo_conflict
          - dwc_basisofrecord_removed
          - dwc_class_added
          - dwc_class_replaced
          - dwc_continent_added
          - dwc_continent_replaced
          - dwc_country_added
          - dwc_country_replaced
          - dwc_datasetid_added
          - dwc_datasetid_replaced
          - dwc_family_added
          - dwc_family_replaced
          - dwc_genus_added
          - dwc_genus_replaced
          - dwc_infraspecificepithet_added
          - dwc_infraspecificepithet_replaced
          - dwc_kingdom_added
          - dwc_kingdom_replaced
          - dwc_kingdom_suspect
          - dwc_multimedia_added
          - dwc_order_added
          - dwc_order_replaced
          - dwc_originalnameusageid_added
          - dwc_parentnameusageid_added
          - dwc_phylum_added
          - dwc_phylum_replaced
          - dwc_scientificnameauthorship_added
          - dwc_specificepithet_added
          - dwc_specificepithet_replaced
          - dwc_stateprovince_replaced
          - dwc_taxonid_added
          - dwc_taxonid_replaced
          - dwc_taxonomicstatus_added
          - dwc_taxonomicstatus_replaced
          - dwc_taxonrank_added
          - dwc_taxonrank_invalid
          - dwc_taxonrank_removed
          - dwc_taxonrank_replaced
          - dwc_taxonremarks_added
          - dwc_taxonremarks_replaced
          - gbif_canonicalname_added
          - gbif_genericname_added
          - gbif_reference_added
          - gbif_taxon_corrected
          - gbif_vernacularname_added
          - geopoint_0_coord
          - geopoint_bounds
          - geopoint_datum_error
          - geopoint_datum_missing
          - geopoint_low_precision
          - geopoint_pre_flip
          - geopoint_similar_coord
          - idigbio_isocountrycode_added
          - rev_geocode_both_sign
          - rev_geocode_corrected
          - rev_geocode_eez
          - rev_geocode_eez_corrected
          - rev_geocode_failure
          - rev_geocode_flip
          - rev_geocode_flip_both_sign
          - rev_geocode_flip_lat_sign
          - rev_geocode_flip_lon_sign
          - rev_geocode_lat_sign
          - rev_geocode_lon_sign
          - rev_geocode_mismatch
          - scientificname_added
          - taxon_match_failed
  examples:
    names_Denitrobacterium_detoxificans:
      description: 'namestr: Denitrobacterium detoxificans'
      value:
#        count: 1
#        ...
#        errors: []
    occ_tentacles:
      value:
        count: 4
        service: occ
        provider: 
          code: specifynetwork
          label: Specify Network
          icon_url: https://localhost/api/v1/badge?provider=specifynetwork
          status_code: 200
          query_url: 
            - 'https://localhost/api/v1/occ?occid=2facc7a2-dd88-44af-b95a-733cc27527d4&provider=specify,gbif,idb,mopho&count_only=False'
          record_format: null
          records: 
            - count: 1
              service: occ
              provider: 
                code: specify
                label: Specify
                icon_url: https://localhost/api/v1/badge?provider=specify
                status_code: 200
                query_url: 
                  - 'https://syftorium.org/api/v1/sp_cache/collection/052ab79f-416c-4d5e-bc1d-afbde6744589/occurrences/2facc7a2-dd88-44af-b95a-733cc27527d4'
                record_format: 
                records: 
                  - $ref: '#/components/examples/occ_2facc7a2-dd88-44af-b95a-733cc27527d4'
                record_format: 
                records: []
                errors: {}
          errors: {}
    occ_count_only:
      value:
#        count: 0
#        ...
#        errors: []
    occ_2facc7a2-dd88-44af-b95a-733cc27527d4:
      "s2n:view_url": null
      "s2n:api_url": null
      "dwc:scientificName": "Myripristis berndti"
      "dwc:taxonRank": null
      "dwc:kingdom": "Animalia"
      "dwc:phylum": "Chordata"
      "dwc:class": "Actinopterygii"
      "dwc:order": "Beryciformes"
      "dwc:family": "Holocentridae"
      "dwc:genus": "Myripristis"
      "dwc:specificEpithet": "berndti"
      "dwc:scientificNameAuthorship": null
      "dwc:catalogNumber": "5035"
      "dwc:collectionCode": "KUIT"
      "dwc:institutionCode": "KU"
      "dwc:otherCatalogNumbers": null
      "dwc:datasetName": "University of Kansas Biodiversity Institute Fish Tissue Collection"
      "dwc:year": "2002"
      "dwc:month": "1"
      "dwc:day": "26"
      "dwc:recordedBy": "Bentley, Andrew C; Preston, Mike; Addison, Mark"
      "dwc:fieldNumber": "ACB 02-02"
      "dwc:locality": "Aliwal Shoal - Tiger ledge"
      "dwc:county": "Scottburgh"
      "dwc:stateProvince": "KwaZulu-Natal"
      "dwc:country": "South Africa"
      "dwc:countryCode": null
      "dwc:decimalLongitude": "30.81667"
      "dwc:decimalLatitude": "-30.25"
      "dwc:geodeticDatum": "WGS84"
      "dwc:basisOfRecord": "MaterialSample"
      "dwc:preparations": "Tissue - 100"
      "dwc:associatedReferences": []
      "dwc:associatedSequences": []
      "s2n:issues": {}
      "dcterms:accessRights": "http://biodiversity.ku.edu/research/university-kansas-biodiversity-institute-data-publication-and-use-norms"
      "dcterms:language": null
      "dcterms:license": null
      "dcterms:modified": "2002-05-24 09:35:15.0"
      "dcterms:type": null
      "gbif:gbifID": null
      "gbif:publishingOrgKey": null
      "gbif:datasetKey": null
      "gbif:acceptedScientificName": null
      "idigbio:uuid": null
      "mopho:specimen.specimen_id": null
      "s2n:specify_identifier": "2facc7a2-dd88-44af-b95a-733cc27527d4"

    
    map_tentacles:
      description: 'namestr = Puntius ticto'
      value:
        count: 0
        query_term: Puntius ticto
        service: map
        provider: Lifemapper
        provider_query:
          - 'http://client.lifemapper.org/api/v2/sdmproject?displayname=Puntius+ticto&atom=0&projectionscenariocode=worldclim-curr'
        record_format: lifemapper_layer schema TBD
        records: []
        errors: []
