.hidden {
  display: none !important;
}

.checkbox-with-indicator input:checked ~ span::before {
  content: "True";
  color: var(--green);
}

.checkbox-with-indicator input:not(:checked) ~ span::before {
  content: "False";
  color: var(--red);
}

.collapsed {
  cursor: pointer;
}

.collapsed .value::after {
  content: "{...}";
}

.collapsed:hover > .value::after {
  color: var(--t1);
}

.collapsed > .value > * {
  display: none !important;
}

.list-of-fields {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: auto;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
}

.list-of-values > .field:not(:last-child) > * {
  border-bottom: 1px solid var(--b3);
  padding-bottom: 1rem;
}

.field {
  display: contents;
}

.label {
  line-height: 2rem;
}

.textbox {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--b3);
  border-radius: 3px;
  background: var(--b2);
}

.value {
  display: flex;
  align-items: center;
}

.value > * {
  flex: 1;
}

.dictionary-label {
  cursor: pointer;
}

.dictionary-label::after {
  content: "\25BC";
  padding-left: 0.5rem;
}

.collapsed > .dictionary-label::after {
  content: "\25BA";
}

.dictionary-label:hover::after {
  color: var(--t1);
}
