:root {
  --b1: #eee;
  --b2: #fff;
  --b3: #ccc;
  --t1: #666;
  --t2: #888;
  --t3: #000;
  --red: #f00;
  --green: #0f0;
  --border-color: #888;

  --quarter-size: 0.25rem;
  --half-size: 0.5rem;
  --size: 1rem;
  --double-size: 2rem;
  --icon-size: 24px;
  --border-size: 1px;
}

body {
  margin: var(--size);
  background: var(--b2);
  font-family: "Calibri", sans-serif;
}

* {
  box-sizing: border-box;
}

main.sections {
  display: flex;
  flex-direction: column;
  row-gap: var(--double-size);
}

.section {
  background: var(--b1);
}

.section-header {
  background: var(--t3);
  color: var(--b3);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.section-header-icon {
  background: var(--b3);
  padding: var(--size);
  width: calc(var(--double-size) + var(--icon-size));
  height: calc(var(--double-size) + var(--icon-size));
}

.section-header::after {
  content: "\25BC";
  padding: var(--size);
}

.section-header-name {
  flex: 1;
  padding: var(--size);
}

.section.section-collapsed .section-header::after {
  content: "\25B2"
}

.section.section-collapsed .section-body {
  display: none;
}

.section-body {
  padding: var(--size);
}